<h1 class="page-header">Caja</h1>
<div ng-controller="cajaController">

    <div class="row">
        <button class="btn btn-success" data-toggle="modal" data-target="#modalMovimiento">Nuevo ingreso/egreso</button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#modalClientes">Nuevo cliente / proveedor</button>
        <button class="btn btn-primary">Nuevo banco</button>
    </div>
    <p></p>
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Movimientos<span class="pull-right">Saldos: - Efectivo: {{saldoEFE|currency}} - Cheques: {{saldoCHC|currency}} <b>Total: {{saldoTotal|currency}}</b></span></h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover" ng-if="caja.movimientos.length > 0">
                    <thead>
                        <th><a href="" ng-click="orden='fecha';sentido = !sentido">Fecha</a></th>
                        <th>Comprobante</th>
                        <th>Tipo valor</th>
                        <th>Neto</th>
                        <th>I.V.A.</th>
                        <th>Debe</th>
                        <th>Haber</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="movimiento in caja.movimientos|orderBy:orden:sentido"  title="{{movimiento.ID}} - {{movimiento.descripcion}}">
                            <td>{{movimiento.fecha|date}}</td>
                            <td>{{movimiento.comprobante}}</td>
                            <td>{{movimiento.valor}}</td>
                            <td>{{movimiento.neto|currency}}</td>
                            <td>{{movimiento.tipo_iva|number}}%</td>
                            <td><span ng-if="movimiento.tipo === 'EGRESO'">{{movimiento.total|currency}}</span></td>
                            <td><span ng-if="movimiento.tipo === 'INGRESO'">{{movimiento.total|currency}}</span></td>
                            <td>
                                <a href="#"><img src="img/icon/16/trash.png" title="Eliminar movimiento" /></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3 class="page-header" ng-if="caja.movimientos.length <= 0">No hay movimientos de caja</h3>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Cheques en cartera</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover" ng-if="caja.cheques.length > 0">
                        <thead>
                            <th>Banco</th>
                            <th>Nro Cheque</th>
                            <th>Fecha emisi&oacute;n</th>
                            <th><a href="" ng-click="orden='fecha_pago';sentido = !sentido">Fecha pago</a></th>
                            <th><a href="" ng-click="orden='importe';sentido = !sentido">Importe</a></th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cheque in caja.cheques|filter:{tipo:'Tercero'}|orderBy:orden:sentido">
                                <td>{{cheque.banco}}</td>
                                <td>{{cheque.numero|number}}</td>
                                <td>{{cheque.fecha_emision|date}}</td>
                                <td>{{cheque.fecha_pago|date}}</td>
                                <td>{{cheque.importe|currency}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="page-header" ng-if="caja.cheques.length <= 0">No hay cheques en cartera</h3>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Cheques emitidos</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover" ng-if="caja.cheques.length > 0">
                        <thead>
                            <th>Banco</th>
                            <th>Nro Cheque</th>
                            <th>Fecha emisi&oacute;n</th>
                            <th>Fecha pago</th>
                            <th>Importe</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cheque in caja.cheques|filter:{tipo:'Propio'}|orderBy:fecha_pago">
                                <td>{{cheque.banco}}</td>
                                <td>{{cheque.numero|number}}</td>
                                <td>{{cheque.fecha_emision|date}}</td>
                                <td>{{cheque.fecha_pago|date}}</td>
                                <td>{{cheque.importe|currency}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="page-header" ng-if="caja.cheques.length <= 0">No hay cheques en cartera</h3>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Clientes</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover" ng-if="caja.clientes.length > 0">
                        <thead>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Tel&eacute;fono</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cliente in caja.clientes|filter:{cliente:1}">
                                <td><a ng-click="editarCliente(cliente.ID)">{{cliente.ID}}</a></td>
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.telefono}}</td>
                                <td><a ng-click="deleteCliente(cliente.ID)"><img src="img/icon/16/trash.png" title="Eliminar movimiento" /></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="page-header" ng-if="caja.clientes.length <= 0">No hay clientes cargados</h3>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Proveedores</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>#</th>
                            <th>Raz&oacute;n social</th>
                            <th>Tel&eacute;fono</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="proveedor in caja.clientes|filter:{cliente:0}">
                                <td><a ng-click="editarCliente(proveedor.ID)">{{proveedor.ID}}</a></td>
                                <td>{{proveedor.nombre}}</td>
                                <td>{{proveedor.telefono}}</td>
                                <td><a ng-click="deleteCliente(proveedor.ID)"><img src="img/icon/16/trash.png" title="Eliminar movimiento" /></a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Bancos</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>Código</th>
                            <th>Razón Social</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="banco in caja.bancos">
                                <td><a href="#">{{banco.ID}}</a></td>
                                <td>{{banco.descripcion}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>    
    <!-- Arrancamos con los modales -->
    <!-- Modal clientes -->
    <div class="modal fade" id="modalClientes">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Clientes</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="row">
                                <div class="col-md-5 form-group">
                                    <label for="">Código:</label>
                                    <input type="text" class="form-control" id="" placeholder="" ng-model="cliente.ID" disabled>   
                                </div>
                                <div class="">
                                    <div class="col-md-5 form-group">
                                        <label for="tipo">Tipo:</label>
                                        <select class="form-control" ng-model="cliente.cliente" required>
                                            <option value="1">Cliente</option>
                                            <option value="0">Proveedor</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="">Raz&oacute;n social</label>
                                    <input type="text" class="form-control" id="" placeholder="" ng-model="cliente.nombre" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="">Domicilio:</label>
                                    <input type="text" class="form-control" id="" placeholder="" ng-model="cliente.domicilio" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="">Tel&eacute;fono:</label>
                                    <input type="text" class="form-control" id="" placeholder="" ng-model="cliente.telefono" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="">email</label>
                                    <input type="text" class="form-control" id="" placeholder="" ng-model="cliente.email" required>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="btnGuardarCliente" ng-click="guardarCliente()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin modal clientes -->
    <!-- Modal Ingreso -->
    <div class="modal fade" id="modalMovimiento">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Ingreso / Egreso</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="row">
                                <div class="col-md-5 form-group">
                                    <label for="">Fecha:</label>
                                    <input type="date" class="form-control" id="" placeholder="" ng-model="movimiento.fecha">   
                                </div>
                                <div class="">
                                    <div class="col-md-5 form-group">
                                        <label for="tipo">Tipo:</label>
                                        <select class="form-control" ng-model="movimiento.tipo" ng-init="movimiento.tipo = 'INGRESO'" required>
                                            <option value="INGRESO" >Ingreso</option>
                                            <option value="EGRESO">Egreso</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="">
                                        <span ng-if="movimiento.tipo === 'INGRESO'">Cliente</span>
                                        <span ng-if="movimiento.tipo === 'EGRESO'">Proveedor</span>    
                                    </label>
                                    <select class="form-control" ng-model="movimiento.cliente" >
                                        <option ng-repeat="c in caja.clientes|orderBy:nombre|filter:{cliente:filtraClientes()}" value="{{c.ID}}">{{c.ID}} - {{c.nombre}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="">Nro Comprobante:</label>
                                    <input type="text" class="form-control" id="" placeholder="" ng-model="movimiento.comprobante">   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="">Descripci&oacute;n:</label>
                                    <textarea class="form-control" id="" placeholder="Descipcion" ng-model="movimiento.descripcion" required></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label for="">Neto:</label>
                                    <input type="text" class="form-control" id="" placeholder="" ng-model="movimiento.neto" ng-change="movimiento.total = movimiento.neto*(1+(movimiento.iva / 100))" required>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="">I.V.A.</label>
                                    <select class="form-control" ng-model="movimiento.iva" ng-init="movimiento.iva = 21">
                                        <option ng-repeat="i in caja.ivas|orderBy:codigo" value="{{i.codigo}}">{{i.descripcion}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="">Total</label>
                                    <input type="text" class="form-control" id="" placeholder="" ng-model="movimiento.total" disabled>
                                </div>
                            </div>
                            <h4 class="page-header">Valores</h4>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label for="tipo">Forma de pago:</label>
                                    <select class="form-control" ng-model="movimiento.valor" ng-init="movimiento.valor = 'EFE'" required>
                                        <option value="EFE" >Efectivo</option>
                                        <option value="CHC">Cheque</option>
                                    </select>
                                </div>
                                <div class="col-md-4 form-group" ng-if="movimiento.valor == 'CHC'">
                                    <label for="tipo">Tipo cheque:</label>
                                    <select class="form-control" ng-model="cheque.tipo" ng-init="cheque.tipo = 'Tercero'" ng-disabled="movimiento.tipo == 'INGRESO'" required>
                                        <option value="Propio" >Propio</option>
                                        <option value="Tercero">Tercero</option>
                                    </select>
                                </div>
                                <div class="col-md-4 form-group" ng-if="movimiento.valor == 'CHC' && movimiento.tipo == 'EGRESO' && cheque.tipo == 'Tercero'">
                                    <label for="tipo">En cartera:</label>
                                    <select class="form-control" ng-model="cheque.cartera">
                                       <option value="">Seleccione o ingrese nuevo</option>
                                        <option ng-repeat="c in caja.cheques|filter:{tipo:'Tercero'}|orderBy:fecha_pago" value="{{c.ID}}">{{c.numero|number}} - {{c.importe|currency}} - {{c.fecha_pago|date}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="movimiento.valor == 'CHC' && (!cheque.cartera || cheque.tipo == 'Propio')">
                            
                            <div class="col-md-4 form-group">
                                <label for="">Número</label>
                                <input type="text" class="form-control" id="" placeholder="" ng-model="cheque.numero" >
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="">Banco</label>
                                <select class="form-control" ng-model="cheque.banco" ng-init="cheque.banco = 1">
                                    <option ng-repeat="b in caja.bancos|orderBy:descripcion" value="{{b.ID}}">{{b.descripcion}}</option>
                                </select>
                            </div>

                            <div class="col-md-4 form-group">
                                <label for="">Importe</label>
                                <input type="text" class="form-control" id="" placeholder="" ng-model="cheque.importe" ng-init="movimiento.total">
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="">Fecha emisi&oacute;n</label>
                                <input type="date" class="form-control" id="" placeholder="" ng-model="cheque.fecha_emision" >
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="">Fecha pago</label>
                                <input type="date" class="form-control" id="" placeholder="" ng-model="cheque.fecha_pago" >
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="btnGuardarMovimiento" ng-click="guardarMovimiento()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>