<style>
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
<div class="container">

    <form class="form-signin" role="form" method="post" name="loginForm" ng-controller="LoginController"
       ng-submit="login(credentials)" novalidate>
        <h2 class="form-signin-heading">Ingreso al sistema</h2>
        <input type="text" class="form-control" name="username" placeholder="Usuario" ng-model="credentials.username" required autofocus>
        <input type="password" class="form-control" name="password" placeholder="Password" ng-model="credentials.password" required>
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Recordarme
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
    </form>

</div>
</form>