<h1 class="page-header">Propiedades</h1>

<div ng-controller="propiedadesController">
    <button class="btn btn-primary" data-toggle="modal" data-target="#modalNuevaPropiedad">Nueva propiedad</button>
    <button class="btn btn-primary" data-toggle="modal" data-target="#modalNuevaPropiedad">Cargar imágenes</button>
    <div class="clearfix"></div>
    <div class="col-md-5 pull-right">
        <form class="form-inline pull-right">
            <div class="form-group">
                <input type="text" placeholder="filtrar..." ng-model="query" class="form-control input-sm">
                <select ng-model="itemsPerPage" ng-init="itemsPerPage=10" title="Cantidad por pagina" class="form-control input-sm">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="80">80</option>
                </select>          
            </div>
        </form>
    </div>

    <table class="table table-striped table-hover" ng-if="propiedades.length > 0">
        <thead>
            <th>#</th>
            <th>Tipo</th>
            <th>Formato</th>
            <th>Titulo</th>
            <th>Resumen</th>
            <th>Fecha carga</th>
            <th>Ubicaci&oacute;n</th>
            <th>Sup. total</th>
            <th>Sup. cubierta</th>
            <th>Dormitorios</th>
            <th>Ba&ntilde;os</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="prop in propiedades|filter:query|orderBy:sortOrder|limitTo:itemsPerPage">
                <td><a href="" data-toggle="modal" data-target="#modalNuevaPropiedad" ng-click="editarPropiedad(prop.ID)">{{prop.ID}}</a></td>
                <td>{{prop.type_desc}}</td>
                <td>{{prop.format}}</td>
                <td>{{prop.prop_title}}</td>
                <td ng-bind-html="prop.prop_resume"</td>
                <td>{{prop.prop_created|date}}</td>
                <td>{{prop.prop_ubicacion}}</td>
                <td>{{prop.prop_sup_total}}</td>
                <td>{{prop.prop_sup_cubierta}}</td>
                <td>{{prop.prop_dormitorios}}</td>
                <td>{{prop.prop_banios}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <h3 class="page-header" ng-if="propiedades.length <= 0">No hay propiedades cargadas</h3>
    <div class="modal fade" id="modalNuevaPropiedad">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Cargar nueva propiedad</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="row">
                               <div class="col-md-4 form-group">
                                   <label for="">Código:</label>
                                   <input type="text" class="form-control" id="" placeholder="" ng-model="propiedad.ID" disabled>   
                               </div>
                                <div class="">
                                    <div class="col-md-4 form-group">
                                        <label for="tipo">Tipo:</label>
                                        <select class="form-control" ng-model="propiedad.prop_type" ng-select="this.value=propiedad.prop_type">
                                            <option value="1">Venta</option>
                                            <option value="2">Alquiler</option>
                                            <option value="3">Plano</option>
                                            <option value="4">Maqueta</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="">Formato:</label>
                                    <select class="form-control" ng-model="propiedad.prop_format">
                                        <option value="1">Departamento</option>
                                        <option value="2">Casa</option>
                                        <option value="3">Pozo</option>
                                        <option value="4">Proyecto</option>
                                        <option value="5">Piso</option>
                                        <option value="6">Cochera</option>
                                        <option value="7">Local</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label for="">Titulo</label>
                                    <input type="text" class="form-control" id="" placeholder="" ng-model="propiedad.prop_title">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="">Resumen</label>
                                    <input type="text" class="form-control" id="" placeholder="" ng-model="propiedad.prop_resume">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="">Ubicación</label>
                                    <input type="text" class="form-control" id="" placeholder="" ng-model="propiedad.prop_ubicacion">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-3 form-group">
                                    <label for="">Sup. Total:</label>
                                    <input type="number" class="form-control" min="1" ng-model="propiedad.prop_sup_total" />
                                </div>
                                <div class="col-md-3 col-sm-3 form-group">
                                    <label for="">Sup. Cubierta:</label>
                                    <input type="number" class="form-control" min="1" ng-model="propiedad.prop_sup_cubierta" />
                                </div>
                                <div class="col-md-3 col-sm-3 form-group">
                                    <label for="">Dormitorios</label>
                                    <input type="number" class="form-control" min="1" ng-model="propiedad.prop_dormitorios" />
                                </div>
                                <div class="col-md-3 col-sm-3 form-group">
                                    <label for="">Baños</label>
                                    <input type="number" class="form-control" min="1" ng-model="propiedad.prop_banios" />
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="">Descripci&oacute;n</label>
                                <textarea class="form-control" id="descripcionPropiedad"></textarea>
                            </div>
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label> Publicada
                                        <input type="checkbox" ng-model="propiedad.prop_status"> 
                                    </label>
                                </div>    
                            </div>
                            <div class="col-md-12 form-group">
                                <h3 class="page-header">Fotos</h3>
                                <div class="row-fluid">
                                    <div class="col-md-4" ng-repeat="f in fotosPropiedad">
                                        <img ng-src="../img/propiedades/{{f.path_pic}}" class="img img-responsive" ng-click="fotosPropiedad.splice($index,1)" />
                                    </div>
                                </div>
                                <h3 class="page-header">Asignar fotos</h3>
                                <div class="col-md-4" ng-repeat="f in fotos">
                                    <img ng-src="../img/propiedades/{{f.path_pic}}" class="img img-responsive" ng-click="fotosPropiedad.push(f)" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" ng-click="deletePropiedad(propiedad.ID)" ng-if="propiedad.ID">Eliminar</button>
                        <button type="button" class="btn btn-primary" ng-click="guardarPropiedad()"  id="btnGuardarPropiedad">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function() {
        $('#descripcionPropiedad').summernote({
            lang:'es-ES',
            toolbar: [
                ['para', ['ul', 'ol']],
            ]
                });
                });
</script>